@import "typo";
@import "colors";

/* ================ Banner Section ============*/
.hero-slide {
  height: 100vh;
}
.slider {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/img/inside/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.slider-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    color: $galben;
    font-size: 5rem;
    font-family: $dance;
    display: inline-block;
    border-bottom: 1px solid lightgray;
  }
  p {
    color: #fff;
    font-size: 3em;
    font-family: $dance;
  }

  .btn-menu {
    padding: 16px 32px;
    border: none;
    font-size: 18px;
    background-color: $galben;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    max-width: 280px;
    letter-spacing: 2px;
  }

  .btn-menu:hover {
    max-width: 340px;
    font-size: 18px;
    letter-spacing: 6px;
    background: #fff;
    color: #000;
  }
}

/*  ============ Top Info  section ============ */
.top-info {
  position: absolute;
  z-index: 1;
  width: 100%;

  .fa-envelope,
  .fa-phone-alt {
    font-size: 16px;
    margin: 0 10px;
  }

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(143, 134, 134);

    p {
      color: #fff;
      font-size: 16px;
      font-family: $roboto;
    }

    .btn-top {
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      background-color: rgb(136, 22, 22);
      transition: all 0.3s ease;
      padding: 16px 30px;
      width: 200px;
      font-size: 16px;
    }

    .btn-top span {
      transition: 0.4s;
    }

    .btn-top span:after {
      content: " \00bb";
      opacity: 0;
      transition: 0.5s;
      right: -20px;
    }

    .btn-top:hover span {
      padding-right: 25px;
    }

    .btn-top:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}

/* Section specialties of the day + slider */
#sec-home {
  text-align: center;
  margin: 30px;
  padding: 10px;

  h2 {
    color: $galben;
    font-size: 4rem;
    padding: 20px;
    letter-spacing: 4px;
    font-family: $satisfy;
    border-bottom: 1px solid darkgrey;
    width: 260px;
    text-align: center;
    display: inline-block;
  }
}

.specialties {
  display: flex;
  justify-content: space-around;
  text-align: center;

  img {
    width: 100%;
    margin: 0px auto;
    box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.57);
  }
}

/* Testimonials Slider Section */

.testimonials {
  padding: 40px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/inside/testimonial-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #000;
  height: 80vh;
}

.inner {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;

  h1 {
    font-family: $roboto;
    font-size: 2em;
    display: block;
    color: #f1f1f1;
  }

  h1:before {
    content: url(/assets/img/content/header_decorator.png);
    width: 50px;
    height: 50px;
    margin: 20px;
  }

  h1:after {
    content: url(/assets/img/content/header_decorator.png);
    width: 150px;
    margin: 20px;
  }
}

.border {
  width: 160px;
  height: 3px;
  background: $galben;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.name {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: $roboto;
  color: $galben;
}

.stars {
  margin-bottom: 10px;
  color: #6ab04c;
}

/* Menu Section */
.menu-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.menu-logo {
  text-align: center;
  margin-top: 50px;

  img {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
}

.menu-title {
  color: $galben;
  font-family: $dance;
  display: inline-block;
  border-bottom: 2px solid red;
  font-size: 3.8em;
}

ul li {
  list-style: none;
  text-align: left;
  font-weight: bold;
  font-size: $roboto;
  margin: 0px 0px 20px;
}

.price {
  color: rgb(180, 4, 4);
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
}

.detail {
  font-size: 18px;
  color: rgb(138, 134, 126);
}

.see-more {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.view-menu-btn {
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  background-color: $galben;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  max-width: 280px;
  letter-spacing: 2px;
  margin: 30px;
}

.view-menu-btn:hover {
  max-width: 340px;
  font-size: 18px;
  letter-spacing: 6px;
  background: rgb(180, 4, 4);
  color: #000;
}

/* About Section */
.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;

  h1 {
    color: $galben;
    font-size: 1.8em;
    font-style: italic;
  }

  h1:before {
    content: url(/assets/img/content/header_decorator.png);
    width: 50px;
    height: 50px;
    margin: 20px;
  }

  h1:after {
    content: url(/assets/img/content/header_decorator.png);
    width: 150px;
    margin: 20px;
  }

  p {
    font-size: 1.4em;
    color: rgb(109, 103, 103);
    font-family: $roboto;
    max-width: 700px;
  }
}

.about-content {
  margin: 3%;

  .grid-item-1,
  .grid-item-2,
  .grid-item-3,
  .grid-item-4 {
    margin: 5%;
  }

  .grid-item-1 h1,
  .grid-item-4 h1 {
    text-align: center;
    font-family: $satisfy;
    font-size: 3rem;
    color: $galben;
  }

  .grid-item-2 {
    margin-top: 120px;
  }
  .about-inside {
    display: grid;
    grid-template-columns: auto auto;

    .about-inside-desc1,
    .about-inside-desc2 {
      color: rgb(109, 103, 103);
      font-size: 24px;
      max-width: 700px;
      font-family: $alfa;
      margin: 60px auto;

      .hot {
        color: rgb(180, 4, 4);
        font-weight: bold;
      }
    }

    img {
      width: 100%;
      max-width: 600px;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.slider {
  width: 100%;
  max-height: 700px;
}

.chef-btn {
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  background-color: $galben;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  max-width: 240px;
  letter-spacing: 2px;
  margin: 30px;
}

.chef-btn:hover {
  font-size: 18px;
  background: rgb(180, 4, 4);
  color: #000;
}

/* Contact us form */

.contact-header h1,
p {
  text-align: center;
  color: rgb(92, 78, 78);
}

.contact {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgb(65, 61, 61);
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 150px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #2980b9;
}
